body {
    background-color: rgb(247, 199, 211);
}

#header {
    
    margin: 40px;
}

h1 {
    color: rgb(240, 56, 124);
    font-size: 80px;
    font-family:"Carter One", system-ui;
    text-align: center;
}
