body {
  background-color: rgb(255, 242, 246);
}

#header {
  margin: 40px;
}

h1 {
  color: rgb(240, 56, 124);
  font-size: 70px;
  font-family: "Carter One", system-ui;
  text-align: center;
}

h5 {
  color: rgb(240, 56, 124);
  font-size: 38px;
  text-align: center;
}

details {
  color: rgb(109, 80, 86);
  text-align: center;
  font-size: 21px;
  background-color: rgb(230, 226, 219);
}

#header {
  text-align: center;
  margin: 40px;
}

.answer-box {
  padding: 10px;
  background-color: rgb(238, 120, 120);
  border-radius: 10px;
  cursor: pointer;
}
